.dockerignore
.env*
.git
.gitattributes
.github
.gitignore
.rspec
.rubocop.yml
.ruby-lsp
.vscode
**/.DS_Store
**/.keep
bin/dev
bin/rspec
bin/rubocop
bin/test
coverage
data/*.sqlite3*
Dockerfile
Guardfile
README.md
spec
